* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border: 1px solid black;
    --padding: 2px;

}

main {
    max-width: 840px;
}

nav {
    background-color: darkblue;
    padding: 10px;
    font-size: larger;
    font: bold;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
}

h1 {
    color: darkblue;
}

p {
    padding: 0;
    clear: left;
    height: 9rem;
    width: auto;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
    border: var(--border);
    padding: var(--padding);
}

aside h2 {
    position: absolute;
    top: 50px;
    left: 180px;

}

footer {
    margin-top: 15px;
    border-top: var(--border);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}