* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border: 1px solid black;
    --padding: 2px;

}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

nav {
    background-color: darkblue;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: larger;
    font: bold;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 10px;
}

h1 {
    color: darkblue;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: solid black 1px;
}

p {
    padding: 0;
    clear: left;
    height: 9rem;
    width: auto;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
    border: var(--border);
    padding: var(--padding);
}

aside h2 {
    position: absolute;
    top: 50px;
    left: 180px;

}

footer {
    margin-top: 15px;
    border-top: var(--border);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    margin-top: 6rem;
    padding-left: 2rem;
}